html
  head
    script
      include ../js/templates.js
      include ../js/ap_list.js
    style
      include ./style.css
  body
    //- img.logo(src="esp.png")
    #container
      h1#title Welcome to ESP Easy
      #menu
      #aps
      h6 Powered by www.esp8266.nu
